@import "src/common.scss";

.index-section {
  .btn-red {
    color: $red !important;
    border: 0.125rem solid $red;
    cursor: pointer;
    display: inline-block;
    padding: 0.1875rem 0.875rem;
  }

  .section-hd {
    padding: 2.5rem 1.875rem 3.75rem;

    .slogan {
      font-size: 2rem;
      font-weight: 900;
    }

    .desc-wrapper {
      margin-top: 2.5rem;

      .desc {
        font-size: 0.9375rem;
        letter-spacing: 0.0625rem;
        line-height: 1.7;
      }
    }
  }

  .section-md {
    .due {
      .img {
        display: block;
        width: 5rem;
        margin-bottom: 1.875rem;
      }

      padding: 3.125rem 2.5rem;
    }

    .investment {
      padding: 3.125rem 2.5rem;
    }
  }

  .section-bd {
    padding: 3.125rem 2.5rem;
  }

  // 数据div
  .list-item-data {
    height: 400px;
    padding-top: 40px;
    padding-bottom: 60px;
    box-sizing: content-box;

    .more-button {
      margin-top: 2rem;
      display: inline-block;
      border-radius: 2px;
      border: 1px solid #000;
      width: 200px;
      font-size: 1rem;
      font-weight: bold;
      text-align: center;
      padding: 5px 0;
      cursor: pointer;
      text-decoration: none;
      color: #000;
    }

    .more-button:hover {
      color: #000;
    }

    .item-left {
      & > div {
        display: flex;
        flex-direction: column;

        span:first-child {
          font-size: 2rem;
        }

        span:last-child {
          font-size: 1rem;
          font-weight: 600;
          letter-spacing: 4.5px;
        }
      }
    }

    .item-right {
      margin-top: 1.2rem;
      .chart-market-mood {
      }

      span {
        width: 100%;
        text-align: right;
        font-size: 0.75rem;
        color: #999;
        display: inline-block;
      }
    }
  }
}
