@import "src/common.scss";

.index-section {
  .btn-red {
    color: $red!important;
    border: 0.125rem solid $red;
    cursor: pointer;
    display: inline-block;
    padding: 0.1875rem 0.875rem;
  }

  .section-hd {
    padding: 2.5rem 1.875rem 3.75rem;

    .slogan {
      font-size: 2rem;
      font-weight: 900;
    }

    .desc-wrapper {
      margin-top: 2.5rem;

      .desc {
        font-size: 0.9375rem;
        letter-spacing: 0.0625rem;
        line-height: 1.7;
      }
    }
  }

  .section-md {
    .due {
      .img {
        display: block;
        width: 5rem;
        margin-bottom: 1.875rem;
      }

      padding: 3.125rem 2.5rem;
    }

    .investment {
      padding: 3.125rem 2.5rem;
    }
  }

  .section-bd {
    padding: 3.125rem 2.5rem;
  }
}