@import "src/common.scss";

.data-page {
  .head {
    position: relative;
    height: 250px;

    img {
      height: 250px;
      width: 100%;
    }
    .content {
      position: absolute;
      color: #fff;
      left: 10%;
      top: 50%;
      transform: translate(0px, -50%);

      .title {
        color: #dc2f2f;
        font-size: 2.125rem;
      }

      .text {
        margin-top: 10px;
        font-size: 1.25rem;
        width: 100%;
        line-height: 2.62rem;
      }
    }
  }

  .body-container {
    min-height: 200px;
    background: #eee;
    padding: 10px;
    .charts {
      .chart-item {
        margin-top: 1.25rem;
        display: flex;
        flex-direction: column;
        background: #ffffff;
        padding: 10px;
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
        position: relative;

        .title {
          border-bottom: 1px solid #cccccc;
          font-size: 1.5rem;
          padding-bottom: 10px;
        }

        .footer {
          border-top: 1px solid #cccccc;
          display: flex;
          justify-content: space-between;
          font-size: 0.75rem;
          color: #999;
          padding-top: 10px;
        }

        .tips {
          width: 25px;
          height: 25px;
          font-size: 18px;
          margin-left: 10px;
          border-radius: 50%;
          background-color: rgb(200, 201, 201);
          color: #fff;
          text-align: center;
          cursor: pointer;
          display: inline-block;
        }

        .tips-box {
          position: absolute;
          right: 0px;
          top: 50px;
          width: 100%;
          border-radius: 4px;
          z-index: 100;
          padding: 10px 20px;
          color: #fff;
          border: 1px solid #ddd;
          background-color: rgba(95, 88, 86, 0.8);

          p {
            font-size: 11px;
          }
        }

        .tips-box::before {
          content: "";
          position: absolute;
          top: -21px;
          left: 49%;
          width: 0;
          z-index: 100;
          height: 0;
          border: 10px solid transparent;
          border-bottom-color: rgba(95, 88, 86, 0.8);
        }
      }
      .chart-item:first-child {
        .chart {
          position: relative;
          top: 50px;
        }
      }
    }

    .rank {
      display: flex;
      margin-top: 1.25rem;
      flex-direction: column;
      background: #ffffff;
      padding: 10px;
      box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
      .title {
        border-bottom: 1px solid #cccccc;
        font-size: 1.5rem;
        padding-bottom: 10px;
      }

      .footer {
        border-top: 1px solid #cccccc;
        display: flex;
        justify-content: space-between;
        font-size: 0.75rem;
        color: #999;
        padding-top: 10px;
      }

      .content {
        min-height: 200px;

        .item {
          color: #000;
          font-size: 0.75rem;
          display: flex;
          justify-content: space-between;
          background: #fff;
          padding: 5px 0;

          img {
            width: 24px;
            margin-right: 5px;
          }
          .name {
            width: 20%;
          }

          & > span {
            display: flex;
            justify-content: center;
            align-items: center;
          }

          & > span:nth-child(1) {
            width: 10%;
          }

          & > span:nth-child(2) {
            width: 20%;
          }

          & > span:nth-child(3) {
            flex: 1;
          }

          & > span:nth-child(4) {
            width: 15%;
          }

          & > span:nth-child(5) {
            flex: 1;
          }

          & > span:nth-child(6) {
            width: 15%;
          }

          & > span:nth-child(7) {
            width: 10%;
          }
        }

        .item:nth-child(even) {
          background: #f5f5f5;
        }

        .item:not(:first-child):hover {
          background: #ccc;
          cursor: pointer;
        }
      }
    }
  }
}
